@media(max-width: 1200px) {
    .container{
        justify-content: center;
        width: 100%;
    }

    form{
        position: relative;
        transform: none;
        width: 100%;
        max-width: 100%;
    }

}